/*To import vars to the main you use @import*/
@import url('./vars.css');
/*Tags*/
html{
    font-size: 16px;
}

body{
    background: var(--clr-main-bg);
    display: grid;
    font-family: var(--ff-secondary);
    margin: 0;
    padding: 0;
}

.hero-container{
    background: url(../imgs/header-camping.webp);
    background-position: center;
    background-size: cover;
    border-bottom-left-radius: 6rem;
    border-bottom-right-radius: 6rem;
    color: var(--clr-white);
    /*min is the action to definir los rangos*/
    height: min(45rem,50rem,55rem); 
    text-align: center;
    width: 100%;
}

.top-nav{
    display: flex;
    margin-top: 3rem;
    margin-left: 10rem;
    margin-bottom: 8rem;
}

.nav-list{
    display: flex;
    gap: 1rem;
    margin-left: 2rem;
    list-style-type: none;
    padding: 0;
}

.nav-list-link{
    color: var(--clr-white);
    font-size: var(--fs-md);
    text-decoration: none;
}

.hero-title{
    font-family: var(--ff-main);
    /*clap is the action to definir los rangos minimo,medio,maximo*/
    font-size:clamp(var(--fs-lg), 4rem, var(--fs-xl)); 
}

.hero-text{
    font-size: var(--fs-md);
    /*width decide cuantos caracteres van, lo que dice es que el numero minimo 30 que preferiblemente se muestren el 50 % porciento de los caracteres y el maximo 55*/
    width: clamp(30ch,50%,55ch); 
    /*margin arriba, los lados, abajo*/
    margin: 0 auto 2rem;
}

.cta-container{
    display: flex;
    justify-content: center;
}

.btn{
    background: var(--clr-main);
    border-radius: 1.5rem;
    display: flex;
    /* espacios dentro del boton */
    padding: .5rem 2rem;
    text-decoration: none;
}
.activities-container{
    display: grid;
    /* el ancho de la pantalla vw */
    width: 80vw;
    /* se usa auto para que se centren */
    margin: 2rem auto;
    /* coloca todos las columnas con auto-fit es para que encajen todas las cosa
    si no es posible lo baja al minimo y si si lo cambia */
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    /*los separa */
    gap: 1.5rem;
}
.activity{
    display: grid;
    background: var(--clr-white);
    border-radius: 2rem;
    text-align: center;
    padding: 2rem 1rem;
}
.activity-icon{
    margin: auto;
}
.activity-title{
    margin: 1rem 0 0;
    font-size: var(--fs-md);
    font-family: var(--ff-main);
}
.activity-text{
    font-family: var(--ff-secondary);
    font-weight: var(--fw-rg);
    font-size: var(--fs-nm);
}

.destinations-container{
text-align: center;
}
.destination-title{
    font-family: var(--ff-main);
    font-size: clamp(var(--fs-md),1.875rem, var(--fs-lg));
    font-weight: var(--fw-bk);
    margin: 1rem auto;
    width: 17ch;
}

.activity-thumb{
    display: flex;
    position: relative;
}

.activity-image{
    display: block;
    width: 100%;
    border-radius: 1rem;
}
.like-btn{
    position: absolute;
    background: var(--clr-white);
    border-radius: .5rem;
    border: none;
    top: 1rem;
    right: 2rem;
}
.activity-price{
    display: block;
    position: absolute;
    background: var(--clr-white);
    color: var(--clr-main);
    text-align: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: .5rem 2rem;
    /* completamente abajo */
    bottom: 0;
    /* truco para centran una posicion absoluta*/
    left: 50%;
    transform: translate(-50%,0);
}

.read-btn{
    display: block;
    width: 50%;
    margin: auto;
    background: var(--clr-gray);
    color: var(--clr-gray-txt);
    text-decoration: none;
    padding: 1rem 1.5rem;
}

.margin-none{
    margin: 0;
}
.subscribe{
    border-radius: 1rem;
    background: var(--clr-inner-bg);
}

.in-touch{
    display: grid;
    align-items: center;
    align-content: center;
    margin-left: 3rem;
}

.subscribe-title{
    font-size: clamp(2rem,21.25rem,var(--fs-lg));
    width: min(80%,90%,100%);

}
.subscribe-form{
    background: var(--clr-white);
    display: flex;
    border-radius: 1rem;
    padding: 1rem;
    align-items: center;
    gap: .5rem;

}

.email{
    border: none;
    padding: .5rem;
    width: 100%;
}
.email:focus{
    outline: none;
    box-shadow: 0 0 0 .1rem var(--clr-main);
    transition: box-shadow .3s ease;
}

.submit-btn{
    background: url(../imgs/icons/send.svg) var(--clr-main);
    border: none;
    background-repeat: no-repeat;
    border-radius: .75rem;
    background-position: center;
    padding: .75rem 1.25rem;
    cursor: pointer;
}

.subscribe-image{
    display: block;
    margin: 2rem auto;
    width: 75%;
}

.btn-view-all{
    margin-top: 1rem;
    background: var(--clr-main-bg);
    border: .1rem solid var(--clr-main);
    color: var(--clr-main);
    font-family: var(--ff-secondary);
    font-size: var(--fs-md);
    font-weight: var(--fw-rg);}

.footer-container{
    border-top-left-radius: 6rem;
    border-top-right-radius: 6rem;
    background: var(--clr-inner-bg);
    width: 100%;
    display: grid;
    margin-top: 2rem 0 0;
}

.footer-content{
    display: grid;
    width: 80vw;
    margin: 2rem auto;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 1.5rem;
}
.footer-link{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    gap: 1rem;
}

.nav-bottom-list{
    list-style-type: none;
    padding: 0;
}

.nav-bottom-link{
    color: var(--clr-black);
    font-size: var(--fs-nm);
    font-family: var(--ff-secondary);
    font-weight: var(--fw-rg);
    text-decoration: none;
}
.footer-legal{
    font-family: var(--ff-secondary);
    font-weight: var(--fw-rg);
    font-size: var(--fs-md);
    text-align: center;
}
.dowload-app{
    display: grid;
    margin: auto;
    width: 80vw;
}
.cta-app-container{
    display: flex;
    gap: .5rem;
}

/* MEDIA QUERIES */
/* landscape less than 768 */
@media (max-width: 835px){

    .top-nav{
        margin-left: 1rem;
        margin-bottom: 2rem;
    }

    .nav-list{
        display: none;
    }

    .hero-container{
        height: 30rem;
    }

    .hero-title{
        font-size: var(--fs-lg);
    }

    .hero-text{
        width: 30ch;
    }
    .in-touch{
        margin: 1rem .9rem ;
        text-align: center;
        order: 2;
    }
    .subscribe-title{
        margin: 0 auto;
    }
    .subscribe-image{
        margin-bottom: 0;
    }

  
    
}
