/*custom properties*/
/**/
:root{
    /*fonts*/
    /* font-family*/
    --ff-main:'Archivo', sans-serif;
    --ff-secondary:'Roboto', sans-serif;

    /* font-size*/
    --fs-xl:5rem; /*80px*/
    --fs-lg:2.5rem; /*40px*/
    --fs-md:1.125rem; /*18px*/
    --fs-nm:1rem; /*16px*/
    --fs-sm:0.875rem; /*14px*/

    /* font-weight*/
    --fw-bk:900;
    --fw-md:500;
    --fw-rg:400;

    /*archivo black 80*/
    /*archivo black 18*/
    /*archivo black 40*/
    /*roboto medium 18*/
    /*roboto medium 16*/
    /*roboto regular 18*/
    /*roboto regular 16*/
    /*roboto regular 14*/

    /*colors*/
    --clr-main:hsla(12, 76%, 61%, 1);
    --clr-main-bg:hsla(15, 44%, 96%, 1);
    --clr-inner-bg:hsla(12, 67%, 92%, 1);
    --clr-white: hsla(0, 0%, 100%, 1);
    --clr-gray: hsla(0, 0%, 55%, .1);
    --clr-black: hsla(0, 0%, 0%,1);
    --clr-gray-txt: hsla(0, 0%, 55%, 1);
}